#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#description {
  width: 80%;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;               
  background-color: black;
  height: 1px;
}

#program-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.outer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.inner-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
}
.rxjs-js-suggestion-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  height: 100px;
}
.github-user-text {
  text-align: center;
  margin: 3px;
}
.rxjs-js-suggestions {
  text-align: center;
  margin: 3px;
}
.rxjs-js-button-container {
  display: flex;
  align-items: center;
}
.rxjs-js-button {
  display: flex;
  flex: 1;
  margin: 2px;
}
